<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  	</head>
	<body>
		<form action="record_create" method="post" >
			<div>STEPS: <input type="text" name="steps" /></div>
			<div>DURATION: <input type="text" name="duration" /></div>
			<div><input type="submit" value="CREATE" /></div>
		</form>
	</body>
</html>
